# CREDIT CARD FRAUD TRANSACTION DETECTION

In [2]:
# Dependencies:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

import kaggle
import zipfile36 as zipfile
import warnings
warnings.filterwarnings('ignore')

In [12]:
!kaggle datasets download -d mlg-ulb/creditcardfraud

creditcardfraud.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
zipfile_name = 'creditcardfraud.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [5]:
credit_card_data = pd.read_csv('creditcard.csv')

In [6]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [9]:
credit_card_data.shape

(284807, 31)

In [10]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [11]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
# Distribution of legit & fraudulent transactions:
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

__This data set is highly Imbalanced Data Set__

0 --> Legit Transaction

1 --> Fraudulent Transaction

In [14]:
# Separating data for analysis:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [15]:
legit.shape, fraud.shape

((284315, 31), (492, 31))

In [16]:
# Statistical measures of the data:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [18]:
# Comparing the values for both legit & fraud transactions:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Dealing with imbalanced Data:
__UnderSampling__

__Building a sample dataset containing similar distribution of Normal and Fraudulent transactions.__

Number of Fraudulent transactions ---> 492

In [19]:
legit_sample = legit.sample(n=492)

In [20]:
# Concatenating two dataframes:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
239225,150011.0,-0.754635,2.010095,-1.698797,0.028854,-0.168450,-0.997730,-0.926463,-2.127527,-0.616161,...,-0.860149,1.396249,0.167594,-0.025906,-0.307871,-0.182137,-0.361994,-0.072295,1.50,0
35143,37986.0,-0.168433,-3.305570,-0.026933,-0.172087,-2.161624,0.042360,-0.158757,-0.042517,-0.573244,...,0.877319,0.609486,-0.837366,0.071627,0.117054,-0.127448,-0.122307,0.147461,799.99,0
140951,84043.0,-1.412618,1.516491,0.783465,-0.344878,-0.150977,-0.007624,0.109999,0.679768,-0.263965,...,-0.182264,-0.533416,0.044784,-0.351643,-0.157068,0.104856,0.229620,0.160234,9.99,0
263238,160855.0,2.005351,0.110557,-1.701496,0.466457,0.094855,-1.296150,0.109060,-0.196627,0.479194,...,0.236008,0.769903,-0.010849,-0.023729,0.175244,-0.123198,-0.011729,-0.040236,3.92,0
134716,80928.0,-2.225196,0.620427,1.370771,-1.462916,0.416829,-0.437150,0.496520,-0.295530,0.543503,...,-0.113931,0.096447,-0.405156,0.104030,-0.542768,0.569419,-1.005548,-0.429126,5.37,0

In [22]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [23]:
new_dataset.shape

(984, 31)

In [24]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [25]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94707.554878,0.070623,0.144952,-0.003129,0.111371,0.030077,0.000806,0.075379,0.023609,-0.009933,...,-0.000473,-0.038976,-0.018744,0.016293,-0.032733,-0.041207,-0.024670,-0.035760,-0.025690,75.678211
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Splitting into Features & Targets:

In [26]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [27]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
239225,150011.0,-0.754635,2.010095,-1.698797,0.028854,-0.168450,-0.997730,-0.926463,-2.127527,-0.616161,...,0.294913,-0.860149,1.396249,0.167594,-0.025906,-0.307871,-0.182137,-0.361994,-0.072295,1.50
35143,37986.0,-0.168433,-3.305570,-0.026933,-0.172087,-2.161624,0.042360,-0.158757,-0.042517,-0.573244,...,1.651851,0.877319,0.609486,-0.837366,0.071627,0.117054,-0.127448,-0.122307,0.147461,799.99
140951,84043.0,-1.412618,1.516491,0.783465,-0.344878,-0.150977,-0.007624,0.109999,0.679768,-0.263965,...,0.168427,-0.182264,-0.533416,0.044784,-0.351643,-0.157068,0.104856,0.229620,0.160234,9.99
263238,160855.0,2.005351,0.110557,-1.701496,0.466457,0.094855,-1.296150,0.109060,-0.196627,0.479194,...,-0.261441,0.236008,0.769903,-0.010849,-0.023729,0.175244,-0.123198,-0.011729,-0.040236,3.92
134716,80928.0,-2.225196,0.620427,1.370771,-1.462916,0.416829,-0.437150,0.496520,-0.295530,0.543503,...,-0.010009,-0.113931,0.096447,-0.405156,0.104030,-0.542768,0.569419,-1.005548,-0.429126,5.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [28]:
Y

239225    0
35143     0
140951    0
263238    0
134716    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Train & Test Datasets:

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [30]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

# Model Training:

__Logistic Regression__

In [31]:
model = LogisticRegression()

In [32]:
# Training the LogisticRegression model with training data:
model.fit(X_train, Y_train)

LogisticRegression()

# Model Evaluation:

In [35]:
# Accuracy on Training data:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [36]:
print('Accuracy on Training data :', training_data_accuracy)

Accuracy on Training data : 0.9453621346886912

In [37]:
# Accuracy on Test data:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [38]:
print('Accuracy on Test data :', test_data_accuracy)

Accuracy on Test data : 0.9289340101522843

# Building Predictive System:

In [39]:
input_data = (7,-0.89428608220282,0.286157196276544,-0.113192212729871,-0.271526130088604,2.6695986595986,3.72181806112751,0.370145127676916,0.851084443200905,-0.392047586798604,-0.410430432848439,-0.705116586646536,-0.110452261733098,-0.286253632470583,0.0743553603016731,-0.328783050303565,-0.210077268148783,-0.499767968800267,0.118764861004217,0.57032816746536,0.0527356691149697,-0.0734251001059225,-0.268091632235551,-0.204232669947878,1.0115918018785,0.373204680146282,-0.384157307702294,0.0117473564581996,0.14240432992147,93.2)

# Changing input data to a numpy array:
input_data_as_numpy_array = np.asarray(input_data)

# Reshaping the numpy array as we are predicting the label (Quality) for only one instance:
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('LEGIT TRANSACTION')
else:
    print('FRAUDULENT TRANSACTION')

[0]
LEGIT TRANSACTION

In [41]:
input_data = (28143, -27.14367842, 15.36580438, -28.40742446, 6.370895347, -20.08787757, -4.666313063, -18.70947882, 17.90357438, -3.722278738, -8.120961738, 4.419943456, -6.210941121, 1.063837395, -5.843528381, -0.108836449, -5.606597326, -11.75625561, -4.714946761, 0.783577594, 1.703887646, 1.796826389, -1.960973717, -0.902247452, 0.144011442, 2.024388039, -0.204214066, 1.332153059, 0.385890728, 99.99
)

# Changing input data to a numpy array:
input_data_as_numpy_array = np.asarray(input_data)

# Reshaping the numpy array as we are predicting the label (Quality) for only one instance:
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('LEGIT TRANSACTION')
else:
    print('FRAUDULENT TRANSACTION')

[1]
FRAUDULENT TRANSACTION